# .gitignore files
iOSRevolution/iOSRevolution.xcodeproj/project.xcworkspace/xcuserdata/seanmarty.xcuserdatad/UserInterfaceState.xcuserstate
iOSRevolution/iOSRevolution.xcodeproj
iOSRevolution/iOSRevolution.xcodeproj/project.xcworkspace/xcuserdata/seanmarty.xcuserdatad/WorkspaceSettings.xcsettings
